<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Conversor de Temperatura</title>
     <link href=normalize.css" rel="stylesheet" type="text/css">
     <link href="global.css" rel="stylesheet" type="text/css">
